.stars {
  display: flex;
  align-items: center;
  width: 100px;
}
.stars > img {
  width: 190px;
  margin-right: 0px;
}
@media (max-width: 768px) {
  .stars {
    width: 100px;
    margin-top: 40px;
  }
  .stars > img {
    width: 20px;
    margin-right: 0px;
  }
}
