.collapse {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;

  margin-bottom: 20px;
}

.collapse-header img {
  transition: all 0.5s;
  width: 50px;
  font-size: 10px;
  color: #fff;
}

.collapse-header img.active {
  transform: rotate(-180deg);
  width: 50px;
  color: #fff;
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 10px;
  background-color: #ff6060;
}

.contenu_collaps {
  background-color: #f6f6f6;
  color: #ff6060;
  padding: 10px;
  text-align: justify;
}

.collapse-header h2 {
  color: #fff;
  height: 40px;
}

@media (max-width: 768px) {
  .collapse {
    width: 100%;

    margin-bottom: 20px;
  }

  .collapse-header img {
    width: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .collapse-header img.active {
    width: 25px;
  }

  .collapse-header {
    align-items: normal;
    padding: 0;
  }
  .contenu_collaps p {
    width: 100%;
    padding: 10px;
    text-align: justify;
  }
  .collapse-header h2 {
    font-size: 24px;
    padding-left: 5px;
    margin-top: 5px;
    height: 40px;
  }
}
@media (max-width: 1024px) {
}
